/* GENERAL */
body {
  font-family: "Montserrat" !important;
  font-weight: 400 !important;
  background-color: #fafafa;
  max-width: 80%;
  margin: auto;
}

.btn {
  background-color: #2ef068;
  border-color: #2ef068;
  color: white;
}

.btn:hover {
  background-color: white;
  border-color: #2ef068;
  color: #2ef068;
}

/* NAVBAR */
nav {
  margin: auto;
  box-shadow: 1px 1px 1px #f1f1f1;
}

.navbar {
  padding-top: 12px;
  padding-bottom: 12px;
}

.searchbar {
  margin: auto;
  width: 60% !important;
}

.nav-item {
  margin-right: 10px;
}

.navbar-custom {
  background-color: rgb(255, 255, 255) !important;
  font-size: 15px;
}

.navbar-custom a,
.navbar-custom input,
.navbar-custom button {
  color: #1dd88c !important;
  font-size: 15px;
  transition: 0.15s;
}

.navbar-custom a:hover,
.navbar-custom input:hover,
.navbar-custom button:hover {
  color: #16a76d !important;
  font-size: 15px;
  transition: 0.15s;
}

.navbar-custom button {
  border-color: #ffffff !important;
  background-color: #ffff !important;
}

.btn-secondary:focus,
.btn-secondary:hover,
.btn-secondary.active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}

#logo {
  color: #1dd88c;
  font-weight: 800;
  font-size: 18px;
  padding-left: 10px;
}

#search::placeholder {
  font-size: 15px;
  color: #c9c9c9 !important;
}

#search {
  background-color: #f8f8f8 !important;
  border-color: #f8f8f8 !important;
  color: #1c1c1c !important;
}

#search:hover {
  background-color: #f3f3f3 !important;
}

#search-button {
  border-color: #f8f8f8 !important;
  background-color: #f8f8f8 !important;
}

#search-button:hover {
  background-color: #f3f3f3 !important;
}

.dropdown-menu a {
  color: #1c1c1c !important;
}

.dropdown-item:active {
  background: #f8f8f8 !important;
}

input[type="text"]:focus,
button:focus {
  border-color: #1dd88c !important;
  box-shadow: 0 0 0 0.2rem rgba(29, 216, 140, 0.25) !important;
}

.flag-icon {
  border-radius: 3px;
}

/* BODY */
.card {
  min-width: 200px;
}

.card-text {
  font-weight: 300 !important;
  font-size: 15px;
}

/* FOOTER */
footer {
  font-size: 15px;
  font-weight: 300;
}

footer h5 {
  font-weight: 400;
  padding-bottom: 30px;
}

footer .col-3 {
  width: 400px;
}

#copyright-notice {
  color: #d8d8d8 !important;
}

/* MOBILE */
@media only screen and (max-width: 1218px) {
  .searchbar {
    width: 100% !important;
  }

  footer .col-3 {
    padding-bottom: 30px;
  }
}

/* Search */
.heroImg {
  padding: 200px;
  margin: 40px 0;
  background-image: linear-gradient(rgba(25, 88, 44, 0.5), rgba(68, 145, 126, 0.5)), url(/img/irisbuurt.png);
}

.searchbox {
  position: relative;
  
}

.searchbar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.intro {
  position: absolute;
}
