body {
  background-color: #fafafa;
}

/* CONTAINER AND DIVS */
.container {
  max-width: 1504px;
}

.neighborhood {
  font-family: montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 3rem;
  margin-top: 5%;
  margin-bottom: 3%;
}

.overview {
  background-color: white;
  height: 400px;
  margin-bottom: 24px;
  position: relative;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
}

.crime {
  background-color: white;
  height: 540px;
  margin-bottom: 24px;
  position: relative;
  margin-right: 24px;
  max-width: 740px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
}

.age {
  background-color: white;
  height: 540px;
  margin-bottom: 24px;
  position: relative;
  max-width: 740px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
}

.map {
  background-color: white;
  height: 500px;
  margin-bottom: 5%;
  position: relative;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
}

/* SOURCE LINK ATTRIBUTES */
.source {
  position: absolute;
  bottom: 10px;
  font-family: montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  color: #1ed922;
  text-decoration: none;
}

/* AGE GRAPH */

.bar-graph .year {
  -webkit-animation: fade-in-text 2.2s 0.1s forwards;
  -moz-animation: fade-in-text 2.2s 0.1s forwards;
  animation: fade-in-text 2.2s 0.1s forwards;
  opacity: 1;
}

#age-demographic {
  margin-top: 50px;
  margin-left: 10px;
  width: 100%;
}

.bar-graph-horizontal {
  width: 100%;
}

.bar-graph-horizontal > div {
  float: left;
  margin-bottom: 8px;
}

.bar-graph-horizontal .year {
  float: left;
  margin-right: 18px;
  margin-top: 10px;
  margin-bottom: 5px;
  width: 100%;
}

.bar-graph-horizontal .bar {
  border-radius: 50px;
  height: 10px;
  float: left;
  overflow: hidden;
  position: relative;
  width: 0;
}

.bar-graph-one .bar::after {
  -webkit-animation: fade-in-text 2.2s 0.1s forwards;
  -moz-animation: fade-in-text 2.2s 0.1s forwards;
  animation: fade-in-text 2.2s 0.1s forwards;
  color: #fff;
  content: attr(data-percentage);
  font-size: 10px;
  font-weight: 700;
  position: relative;
  bottom: -1px;
  right: 16px;
}

.background {
  background-color: grey;
  width: 100%;
}

.bar-graph-one .bar-one .bar {
  background-color: #1dd922;
  -webkit-animation: bar 1.2s 0.1s forwards;
  -moz-animation: bar 1.2s 0.1s forwards;
  animation: bar 1.2s 0.1s forwards;
  width: 0%;
  z-index: 5;
}

.bar-graph-one .bar-two .bar {
  background-color: #1dd922;
  -webkit-animation: bar 1.2s 0.2s forwards;
  -moz-animation: bar 1.2s 0.2s forwards;
  animation: bar 1.2s 0.2s forwards;
  width: 0%;
  z-index: 5;
}

.bar-graph-one .bar-three .bar {
  background-color: #1dd922;
  -webkit-animation: bar 1.2s 0.3s forwards;
  -moz-animation: bar 1.2s 0.3s forwards;
  animation: bar 1.2s 0.3s forwards;
  width: 0%;
  z-index: 5;
}

.bar-graph-one .bar-four .bar {
  background-color: #1dd922;
  -webkit-animation: bar 1.2s 0.4s forwards;
  -moz-animation: bar 1.2s 0.4s forwards;
  animation: bar 1.2s 0.4s forwards;
  width: 0%;
  z-index: 5;
}

.bar-graph-one .bar-five .bar {
  background-color: #1dd922;
  -webkit-animation: bar 1.2s 0.4s forwards;
  -moz-animation: bar 1.2s 0.4s forwards;
  animation: bar 1.2s 0.4s forwards;
  width: 0%;
  z-index: 5;
}

.percentage {
  position: relative;
  margin-left: 500px;
}

.bartest {
  position: absolute;
  width: 480px !important;
  background-color: rgb(221, 221, 221);
  margin-top: -24px;
  border-radius: 50px;
  height: 10px;
  float: left;
  overflow: hidden;
  position: relative;
}

/* MEDIA QUERY FOR SCREENS <760PX */
@media screen and (max-width: 760px) {
  .neighborhood {
    font-size: 1.5rem;
  }
  .overview {
    height: 95px;
  }

  .crime {
    height: 255px;
  }

  .age {
    height: 255px;
  }

  .map {
    height: 300px;
  }

  .source {
    font-size: 0.7rem;
  }
}
#map {
  height: 95%;
  margin-top: 1%;
}
